absoluteTo() is not conforming to RFC 3986

[RFC 3986 Section 5.2.2](http://tools.ietf.org/html/rfc3986#section-5.2.2) outlines the algorithm for transforming a relative resource to an absolute one given a base resource to resolve against. At least the handling of query strings is wrong in URI.js 1.7.1.
