A reference resolution does not match RFC3986

There is a case that does not match RFC 3986.

In [RFC 3986 Section 5.4 Reference Resolution Examples](https://tools.ietf.org/html/rfc3986#section-5.4.1),
a relative URI reference `//g` against for the base URI `http://a/b/c/d;p?q`
should be resolved to `http://g`, whereas URI.js brings different result `http://g/`.

Here is a code.

```
var x = new URI("//g" , "http://a/b/c/d;p?q");
console.log(x.toString());
```
We get `http://g/` in the console.
I expect it to be `http://g`.